
<ion-content>
  <ion-row class="logo">
    <ion-col size=12 class="ion-align-self-center">
      <img src="../../../assets/img/logo.png">
    </ion-col>
  </ion-row>
  <ion-row class="form">
    <ion-col size=12>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input ></ion-input>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-button expand="full" class="btnLogin">Login</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full">Login with facebook <ion-icon name="logo-facebook"></ion-icon></ion-button>
    </ion-col>
    <p>No account ? Register</p>
  </ion-row>

</ion-content>
